body {
	font-family: 'Oxygen', sans-serif;
	background: rgba(194,215,229,1);
	background: -moz-linear-gradient(left, rgba(194,215,229,1) 0%, rgba(123,163,193,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,215,229,1)), color-stop(100%, rgba(123,163,193,1)));
	background: -webkit-linear-gradient(left, rgba(194,215,229,1) 0%, rgba(123,163,193,1) 100%);
	background: -o-linear-gradient(left, rgba(194,215,229,1) 0%, rgba(123,163,193,1) 100%);
	background: -ms-linear-gradient(left, rgba(194,215,229,1) 0%, rgba(123,163,193,1) 100%);
	background: linear-gradient(to right, rgba(194,215,229,1) 0%, rgba(123,163,193,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2d7e5', endColorstr='#7ba3c1', GradientType=1 );
}

div {
	margin: 100px auto;
	width: 70%;
}

h1 {
	text-align: center;
	font-size: 60px;
}

h2 {
	float:left; 
	display:inline; 
	width: 49%;
}

h2:nth-of-type(2) {
	text-align: right;
}

.timer {
	font-size: 60px;
	margin: 0.3em;
}

.done {
	visibility: hidden;
}

.letters {
	text-align: center;
}

.list {
	font-size: 60px;
}

.buttons {
	text-align: center;
}

.countdown {
	text-align: center;
}

#team2Input {
	float: right;

}

